.request-table-container {
  position: relative;
  margin: 0 auto;
  top: 100px;
}

.testbtn {
  position: relative;
  top: 500px;
}

.sessionrequest-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.sessionrequest-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: aquamarine;
  width: 700px;
  border: 2px solid black;
}

.session-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#whiteboard-canvas {
  position: relative;
  border: 1px solid black;
}

#whiteboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#whiteboard-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
}

#undo-redo-btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#pen-eraser-btns {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
